<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.5.1" />
  <package id="Electrum" version="1.9.1" />
  <package id="Electrum.Controls" version="1.9.0" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="sl40-wp71" />
  <package id="RestSharp" version="104.1" targetFramework="sl40-wp71" />
  <package id="Rx-Main" version="1.0.11226" />
  <package id="Rx-Silverlight" version="1.0.11226" />
  <package id="SilverlightToolkitWP" version="4.2011.12.14" />
</packages>